* {
	margin: 0;
	padding: 0;
	font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
		'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

html,
body {
	min-width: 768px;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

a {
	text-decoration: none;
}

img {
	outline: none !important;
}

i {
	font-style: normal;
}

input::-webkit-input-safebox-button {
	display: none;
}
