#app {
	width: 100%;
	min-height: 100vh;
}
.app-container {
	width: 100%;
	height: 100%;

	.app-header {
		background-color: #ffffff;
		box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06),
			0 1px 0 0 rgba(0, 0, 0, 0.02);
		z-index: 10;
	}
	.app-content {
		width: 100%;
		height: 100%;

		.el-aside {
			transition: all 0.5s;
		}

		.app-main {
			min-height: 100vh;
			background-color: #f3f6f8;
		}
	}
}
