.app-container {
	width: 100%;
	height: 100%;

	.app-header {
		width: 100%;
		background-color: #ffffff;
		box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06),
			0 1px 0 0 rgba(0, 0, 0, 0.02);
		z-index: 10;
	}

	.app-content {
		width: 100%;
		height: 100%;
		overflow: hidden;

		.app-aside {
			overflow: hidden;
			transition: all 0.5s;
			background-color: #fff;
		}

		.app-main {
			width: 100%;
			height: 100%;
			overflow: hidden;
			background-color: #f3f6f8;
			padding: 0;
		}
	}

	.el-scrollbar__bar {
		z-index: 999;
	}
	.el-scrollbar__wrap {
		overflow-x: auto;
	}
}

@media screen and (min-width: 1600px) {
	.app-container {
		.app-content {
			.app-main {
				overflow: hidden;
			}
		}
	}
}
