// @import 'variables';

// flex-center
@mixin flex-center($direction: row) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: $direction;
}

// flex-between
@mixin flex-between($direction: row) {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: $direction;
}

// flex-around
@mixin flex-around($direction: row) {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: $direction;
}

// flex-start
@mixin flex-start($direction: row) {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: $direction;
}

//ellipsis
@mixin ellipsis() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

//multi line ellipsis
@mixin multiline-ellipsis($num: 2) {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: $num;
	-webkit-box-orient: vertical;
	white-space: normal !important;
	word-wrap: break-word;
}

@mixin content-background() {
	padding: 20px;
	border: 1px solid #ebeef5;
	border-radius: 4px;
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
	background-color: #fff;
}

@mixin flex-direction($direction: column) {
	display: flex;
	flex-direction: $direction;
}

@mixin info-card() {
	background-color: #fff;
	color: #303133;
	border: 1px solid #ebeef5;
	border-radius: 4px;
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
